<main>
    <div class="home-page">
      <div class="block">
        <h1>Constructores S.A.S.</h1>
        <p class="intro">Ciudadela del Futuro.</p>
        <p>Donde podra gestionar sus solicitudes de construcción en el terreno designado para la ciudadela.</p>
        <a routerLink="/request-page" class="start-button">Start</a>
      </div>
      <div class="block">
        <img
          src="https://seebauers-world.com/wallpaper/maccupicchu.jpg"
          alt="Image of a ciudadela"
        />
      </div>
    </div>
  </main>
