<h1>Lista de solicitudes</h1>
<table class="request-table">
  <tr>
    <th>Fecha de inicio</th>
    <th>Fecha de Entrega</th>
    <th>Tipo de Construccion</th>
    <th>Posicion x</th>
    <th>Posicion y</th>
  </tr>
  <div *ngIf="requests != undefined"> 
    <tr  *ngFor="let request of requests">
      <td>{{request.fechaInicio | date}}</td>
      <td>{{request.fechaEntrega}}</td>
      <td>{{request.tipoConstruccion}}</td>
      <td>{{request.x}}</td>
      <td>{{request.y}}</td>
    </tr>
  </div>
</table>

<br>

<a routerLink="/form-request-page" class="start-button">Nueva Solicitud</a>